@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

#root, html, body {
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden !important;
}

#root {
    overflow: auto !important;
}

* {
    box-sizing: border-box;
}